footer {
    color: slategray;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 30px;
    z-index: -1;

    & a{
        text-decoration: none;
        color: slategray;
        cursor: pointer;
        
        &:hover{
            text-decoration: none;
            color: slategray;
        }
    }
}
